<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/cadastroinfluencer.css" type="text/css">
    <link rel="shortcut icon" href="/public/img/Logo (2).png" type="image/x-icon">
    <title>Cadastro</title>
</head>
<body>
    <header>
        <div class="container">
          <ul>
            <li><a href="/">Início</li>
            <li><a href="/quems">Quem Somos</a></li>
            <li><a href="/empresas">Empresas</a></li>
            <li><a href="/influencers">Influencer</a></li>
            <li><a href="/planos">Planos</a></li>
            <li><a href="/cadastro">Contato</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>

          <div class="loginn">
            <li><a href="/posts">Login</a></li>
          <img class="icon" src="/public/img/log-icon.png">
          </div>
        </div>
      </header>

      <section class="s1">
        <div class="titulo">
        <img class="logo" src="/public/img/Logo (1).png">
        <h1 class="h1titulo">Cadastro</h1>
        </div>
    </section>

    <section class="s2">

        <div class="conteudo">
            <h1 class="tituloconteudo">.</h1>
            <form action="/register" method="post">
            <div class="conteudo2">
                
            <div class="conteudo3">

                <div>
                    <input type="text" id="nomecompleto" name="name" />
                    <p>Nome Completo</p>
                </div>

                <div class="cpf-sexo-data">
                    <div class="classecpf">
                        <input type="number" id="cpfecnpj" name="cpf" />
                        <p>CPF/CNPJ</p>
                    </div>

                    <div class="classesexo">
                        <input type="text" id="sexo" name="sexo" />
                        <p>Sexo</p>
                    </div>    

                    <div class="classedatanasc">
                        <input type="number" id="datanasc" name="data" />
                        <p>Data Nasc</p>
                    </div>    
                </div>

                <div>
                    <input type="text" id="endereco" name="endereco" />
                    <p>Endereço</p>
                </div>

                    <div class="enderecocasa">
                        <div class="casanumero">
                            <input type="number" id="numerocasa" name="numero" />
                            <p>Número</p>
                        </div>

                        <div class="casacomplemento">
                            <input type="text" id="complemento" name="complemento" />
                            <p>Complemento</p>
                        </div>
                    </div>

                    <div class="enderecocasa">
                        <div class="classecidade">
                            <input type="text" id="cidade" name="cidade" />
                            <p>Cidade</p>
                        </div>

                        <div class="classeestado">
                            <input type="text" id="estado" name="estado" />
                            <p>Estado</p>
                        </div>
                    </div>

                    <div>
                        <input type="text" id="email" name="email"/>
                        <p>Email</p>
                    </div>
            </div>


                <div class="conteudo4">

                    <div>
                        <input type="text" id="ramo" name="atuacao" />
                        <p>Ramo de Atuação</p>
                    </div>
                    <div>
                        <input type="text" id="insta" name="insta" />
                        <p>Instagram</p>
                    </div>
                    <div>
                        <input type="text" id="yt" name="youtube" />
                        <p>Youtube</p>
                    </div>
                    <div>
                        <input type="text" id="tt" name="twitter" />
                        <p>Twitter</p>
                    </div>
                    
                    <div>
                        <input type="password" id="senha" name="password" />
                        <p>Senha</p>
                    </div>
                    
                  
                </div>

                </div>
                <div class="butto">
                    <button class="button" type="submit">Contratar</button>
                </div>
            </form>
            </div>
    </section>

    <footer>
        <p>2022 Royal Influence - Todos os direitos reservados.</p>
    </footer>
</body>
</html>