<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/contato.css">
    <link rel="shortcut icon" href="/public/img/Logo (2).png" type="image/x-icon">
    <title>Contato</title>
</head>
<body>
    <header>
        <div class="container">
          <ul>
            <li><a href="/in">Início</li>
            <li><a href="/quems">Quem Somos</a></li>
            <li><a href="/empresas">Empresas</a></li>
            <li><a href="/influencers">Influencer</a></li>
            <li><a href="/planos">Planos</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>

          <div class="loginn">
            <li><a href="/posts">Login</a></li>
          <img class="icon"src="/public/img/log-icon.png">
          </div>
        </div>
      </header>

      <section class="s1">
        <div class="titulo">
        <img class="logo" src="/public/img/Logo (1).png">
        <h1 class="h1titulo">Contato</h1>
        </div>
    </section>

    <section class="s2">
        <form action="https://formsubmit.co/royalinflu@gmail.com" method="post">
        <div class="conteudo">
            <h1 class="tituloconteudo">Envie uma mensagem para nós!</h1>

            <div class="conteudo2">
                
            <div class="conteudo3">

                
                    <div>
                        <label for="assunto">Assunto:</label>
                        <input type="text" id="assunto" name="titulo" />
                    </div>
                    <div class="email">
                        <label for="email">Seu email:</label>
                        <input type="email" id="email" name="email" />
                    </div>
                    <div>
                        <label for="message">Mensagem</label>
                        <textarea style="resize: none;" name="conteudo" id="message"></textarea>
                    </div>
                    <div class="butto">
                        <input type="hidden" name="_next" value="http://localhost:8081/email">
                        <button class="button" type="submit">Enviar</button>
                    </div>
            </div>
            </div>
            <div class="conteudowpp">
                <img src="/public/img/iconwpp.png">
                <div class="textowpp">
                    <p class="pconteudo">Central de Relacionamento:</p>
                    <p class="pconteudo" >(11)99999-9999</p>
                  
                </div>
            </div>
        </form>
        </div>
    </section>

    <footer>
        <p>2022 Royal Influence - Todos os direitos reservados.</p>
    </footer>
    
</body>
</html>