<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/empresas.css">
    <link rel="shortcut icon" href="/public/img/Logo (2).png" type="image/x-icon">
    <title>Empresas</title>
</head>
<body>
    <header>
        <div class="container">
          <ul>
            <li><a href="/in">Início</li>
            <li><a href="/quems">Quem Somos</a></li>
            <li><a href="/empresas">Empresas</a></li>
            <li><a href="/influencers">Influencer</a></li>
            <li><a href="/planos">Planos</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>

          <div class="loginn">
            <li><a href="/posts">Perfil</a></li>
          <img class="icon" src="/public/img/log-icon.png">
          </div>
        </div>
      </header>

      <section class="s1">

        <div class="titulo">
            <img class="logo" src="/public/img/Logo (1).png">
            <h1 class="h1emp">Empresas</h1>
        </div>

    <div class="empresas">
        <div class="empresas1">

            <div class="empresa-img1">
              <img class="img1" src="/public/img/mycoffee.png">
              <p>My Coffee</p>
              <p>Restaurante/Lanchonete</p>
              <p>Liberdade - São Paulo/SP</p>
              <p>Instagram: @mycoffeeliberdade</p>
            </div>

            <div class="empresa-img2">
              <img class="img1" src="/public/img/hort.png">
              <p>Hort Sabor</p>
              <p>Hort-Fruit/Sacolão</p>
              <p>Bandeirante - Araraquara/SP</p>
              <p>Instagram: @hortsaboroficial</p>
            </div>

            <div class="empresa-img3">
              <img class="img1" src="/public/img/gym.png">
              <p>Maximus GYM</p>
              <p>Academia</p>
              <p>São Paulo e Rio de Janeiro</p>
              <p>Instagram: @academiamaximus</p>

            </div>

        </div>

        <div class="empresas2">
          <div class="empresa-img4">
            <img class="img1" src="/public/img/palace.png">
            <p>B Palace Hotel</p>
            <p>Hotel/Resort/Pousada</p>
            <p>Berrini - São Paulo/SP</p>
            <p>Instagram: @b_palacehotel</p>
          </div>

          <div class="empresa-img5" >
            <img class="img1" src="/public/img/strike.png">
            <p>Grupo Strike</p>
            <p>Jogos/Entretenimento</p>
            <p>Florianópolis e São Paulo</p>
            <p>Instagram: @grupo.strike</p>
            <p>YouTube: Grupo Strike</p>
          </div>

          <div class="empresa-img6" >
            <img class="img1" src="/public/img/star.png">
            <p>Star School</p>
            <p>Educação</p>
            <p>Morumbi - São Paulo/SP</p>
            <p>Instagram: @star.shcool</p>
          </div>
        </div>
    </div>
      </section>

      <footer>
        <p>2022 Royal Influence - Todos os direitos reservados.</p>
      </footer>
    
</body>
</html>