<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/login.css" type="text/css">
    <link rel="shortcut icon" href="/public/img/Logo (2).png" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="container">
          <ul>
            <li><a href="/in">Início</li>
            <li><a href="/quems">Quem Somos</a></li>
            <li><a href="/empresas">Empresas</a></li>
            <li><a href="/influencers">Influencer</a></li>
            <li><a href="/planos">Planos</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
            
          <div class="loginn">
            <li><a href="/login">Login</a></li>
          <img class="icon" src="/public/img/log-icon.png">
          </div>
        </div>
      </header>

      <section class="s1">
            <div class="titulo">
            <img class="logo" src="/public/img/Logo (1).png">
            <h1 class="h1titulo">Login</h1>
            </div>
      </section>

      <section class="s2">
        <form action="/login" method="post">
        <div class="quadrado1">
          <div class="quadrado2">
            <div class="conteudo">
              <form action="/login" method="post">
              
              <div>
                <p>Email</p>
                <input type="text" id="email" name="email" />
              </div>

              <div>
                <p>Senha</p>
                <input type="password" id="senha" name="password" />
            </div>

              <p><a href="/register">Esqueci minha senha.</a></p>
              <p><a href="/register">Registre-se</a></p>
              

            <div class="butto">
              <button class="button" type="submit" >Login</button>
            </div>
          </form>
          </div>
          </div>
            
        </div>
      </form>
      </section>

      <footer>
        <p>2022 Royal Influence - Todos os direitos reservados.</p>
      </footer>

</body>
</html>