<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/influencers.css">
    <link rel="shortcut icon" href="/public/img/Logo (2).png" type="image/x-icon">
    <title>Influencers</title>
</head>
<body>

    <header>
        <div class="container">
          <ul>
            <li><a href="/in">Início</li>
            <li><a href="/quems">Quem Somos</a></li>
            <li><a href="/empresas">Empresas</a></li>
            <li><a href="/influencers">Influencer</a></li>
            <li><a href="/planos">Planos</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>

          <div class="loginn">
            <li><a href="/posts">Perfil</a></li>
          <img class="icon" src="/public/img/log-icon.png">
          </div>
        </div>
      </header>

      <section class="s1">

        <div class="titulo">
            <img class="logo" src="/public/img/Logo (1).png">
            <h1 class="h1emp">Influencer</h1>
        </div>

    <div class="influencer">
        <div class="influencer1">

          <div class="influencer-img1">
              <img class="img1" src="/public/img/27.png">
              <p>Douglas Alburquerque</p>
              <p>Esporte</p>
              <p>São Paulo - SP</p>
              <p>Instagram: @alemdoesporte</p>
              <p>YouTube: Além do Esporte</p>
              <p>Twiter: @alemdoesporte</p>
            </div>
            
            <div class="influencer-img2">
                <img class="img1" src="/public/img/24.png">
                <p>Clara Santos</p>
                <p>Coach/ Empoderamento</p>
                <p>Belo Horizonte - MG</p>
                <p>Instagram: @mulherdesucesso</p>
            </div>

            <div class="influencer-img3">
                <img class="img1" src="/public/img/25.png">
                <p>Ana Clara Toledo</p>
                <p>Maternidade</p>
                <p>Blumenau - SC</p>
                <p>Instagram: @supermae.com</p>
                <p>YouTube: supermae.com</p>
            </div>
        </div>

        <div class="influencer2">
          <div class="influencer-img4">
            <img class="img1" src="/public/img/23.png">
            <p>Alessandra Costa</p>
            <p>Moda e Beleza</p>
            <p>Nova York - USA</p>
            <p>Instagram: @alessandracosta</p>
            <p>YouTube: Arrasa no look</p>
          </div>

          <div class="influencer-img5">
            <img class="img1" src="/public/img/26.png">
              <p>Katherine Lima </p>
              <p>Saúde/Bem Estar</p>
              <p>São Paulo - SP</p>
              <p>Instagram: @projetovidatoda</p>
              <p>Twiter: @projetovidatoda</p>
              <p>YouTube: Projeto para a Vida</p>
          </div>

          <div class="influencer-img6">
            <img class="img1" src="/public/img/22.png">
            <p>Douglas Spiner</p>
            <p>Gastronomia</p>
            <p>Rio de Janeiro - RJ</p>
            <p>Instagram: @fogonabrasa</p>
            <p>YouTube: Fogo na Brasa</p>
          </div>
        </div>
    </div>
      </section>

      <footer>
        <p>2022 Royal Influence - Todos os direitos reservados.</p>
      </footer>
    
</body>
</html>