@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');

*
{
  margin: 0;
  padding: 0;
}

header
{
  background-color: #ffb800;
}

.container
{
  max-width: 1232px;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon 
{
  max-width: 62px;
}

  li
{
    display: inline-block;
    margin: 20px;
    font-size: 18px;
    font-family: 'Amiko', sans-serif;
}

a
{
  text-decoration: none;
  color: #7d7c79;
}

.loginn
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1{
  margin-top: 10px;
}

.h1titulo
{
font-size: 45px;
margin-left: 45px;
}

.s1, .s2{
    max-width: 1232px;
    margin: 0 auto;
    margin-top: 50px;
}

.s2
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
max-width: 400px;
}

.titulo {
display: flex;
flex-direction: row;
align-items: center;
gap: 100px;
font-family: 'Amiko', sans-serif;
}



.conteudo
{
  background-color: #ffb800;
  width: 900px;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  
  font-family: 'Amiko', sans-serif;
}

.conteudo2
{
  
  background-color: aliceblue;
  width: 800px;
  height: 450px;
  border-radius: 40px;
  margin-top: 10px;
}

.conteudo3
{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
  gap: 40px;
  font-family: 'Amiko', sans-serif;
}

.tituloconteudo
{
  display: flex;
  flex-direction: row;
  flex-direction: row;
  font-family: 'Amiko', sans-serif;
  margin-right: 400px;
  margin-top: 10px;
}

#message
{
  width: 97%;
  height: 100px;
}

#assunto
{
  width: 97%;
  height: 20px;
}

#email
{
  width: 50%;
  height: 20px;
}

.email {
  display: flex;
  flex-direction: column;
}

.button
{
  
    height: 60px;
    width: 300px;
    margin-top: 10px;
    border-radius: 20px;
    color: white;
    background-color: #7d7c79;
    font-size: 20px;
    font-family: 'Amiko', sans-serif;
    cursor: pointer;
}

.butto
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudowpp
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-right: 500px;
  gap: 10px ;
}

p
{
  font-family: 'Amiko', sans-serif;
}

.textowpp
{
  display: flex;
  flex-direction: column; 
}

footer
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-family: 'Amiko', sans-serif;
}

@media screen and (max-width: 1240px)
{
.s2, .s1
{
  max-width: 1100px;
}

.h1titulo
{
  margin: 0;
}
.titulo
{
  gap: 70px;
}
}

@media screen and (max-width: 1100px)
{
.s2, .s1
{
  max-width: 1000px;
}

.h1titulo
{
  margin: 0;
}
.titulo
{
  gap: 70px;
}
}

@media screen and (max-width: 1010px)
{
.s2, .s1
{
  max-width: 900px;
}

.titulo{
  display: flex;
  flex-direction: column;
}

.s1{
  gap: 10px;
}

.s2{
  gap: 30px;
}

.h1titulo
{
  margin: 0;
}
.titulo
{
  gap: 70px;
}
}

@media screen and (max-width: 910px)
{
.s2, .s1
{
  max-width: 800px;
}

.titulo{
  display: flex;
  flex-direction: column;
}

.s1{
  gap: 10px;
}

.s2{
  gap: 30px;
}

.h1titulo
{
  margin: 0;
}
.titulo
{
  gap: 70px;
}

.conteudo
{
  max-width: 800px;
}

.conteudo2
{
  max-width: 700px;
}

.tituloconteudo, .conteudowpp
{
  margin: 0;
  margin-top: 10px;
}

}

@media screen and (max-width: 810px)
{
.s2, .s1
{
  max-width: 800px;
}

.titulo{
  display: flex;
  flex-direction: column;
}
.logo
{
  max-width: 300px;
}

.s1{
  gap: 10px;
}

.s2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1titulo
{
  margin: 0;
}
.titulo
{
  gap: 70px;
}
.conteudo
{
  max-width: 700px;
}

.conteudo2
{
  max-width: 600px;
}

.tituloconteudo, .conteudowpp
{
  margin: 0;
  margin-top: 10px;
}
}

@media screen and (max-width: 700px)
{
.s2, .s1
{
  max-width: 800px;
}

.titulo{
  display: flex;
  flex-direction: column;
}

.s1{
  gap: 10px;
}

.s2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1titulo
{
  margin: 0;
}

.conteudo
{
  max-width: 600px;
}

.conteudo2
{
  max-width: 500px;
}
.logo{
  max-width: 300px;
}

.titulo
{
  gap: 70px;
}

footer 
{
  font-size: 10px;
}

}

@media screen and (max-width: 600px)
{
.s2, .s1
{
  max-width: 800px;
}

.titulo{
  display: flex;
  flex-direction: column;
}

.mensal, .semestral, .anual
{
  max-width: 270px;
}

.s1{
  gap: 10px;
}

.s2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1titulo
{
  margin: 0;
}

.conteudo
{
  max-width: 550px;
}

.conteudo2
{
  max-width: 450px;
}

.logo{
  max-width: 270px;
}

.titulo
{
  gap: 70px;
}

}

@media screen and (max-width: 530px)
{
  .conteudo
  {
    max-width: 450px;
  }
  
  .conteudo2
  {
    max-width: 350px;
  }
}

@media screen and (max-width: 450px)
{
  .conteudo
  {
    max-width: 300px;
  }
  
  .conteudo2
  {
    max-width: 200px;
  }
  .conteudo3
  {
    margin-right: 20px;
  }
  .button
  {
    
      height: 60px;
      width: 100px;
      
      font-size: 20px;
      
  }

  .icon {
    display: none;
  }
  

  .tituloconteudo
  {
    font-size: 15px;
  }
}