@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');

*
{
  margin: 0;
  padding: 0;
}

header
{
  background-color: #ffb800;
}

.container
{
  max-width: 1232px;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon 
{
  max-width: 62px;
}

  li
{
    display: inline-block;
    margin: 20px;
    font-size: 18px;
    font-family: 'Amiko', sans-serif;
}

a
{
  text-decoration: none;
  color: #7d7c79;
}

.a
{
  color: white;
  cursor: pointer;
}

.loginn
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1{
  margin-top: 10px;
}

.h1titulo
{
font-size: 45px;
margin-left: 45px;
}

.s1{
    max-width: 1232px;
    margin: 0 auto;
    margin-top: 50px;
}

.logo1{
max-width: 400px;
}

.titulo {
font-family: 'Amiko', sans-serif;
font-size: 50px;
}

.bloco1{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media screen and (max-width: 700px) {
    .bloco1{
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
}
