@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');

*
{
  margin: 0;
  padding: 0;
}

header
{
  background-color: #ffb800;
}

.container
{
  max-width: 1232px;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon 
{
  max-width: 62px;
}

  li
{
    display: inline-block;
    margin: 20px;
    font-size: 18px;
    font-family: 'Amiko', sans-serif;
}

a
{
  text-decoration: none;
  color: #7d7c79;
}


.loginn
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.s1, .s2{
    max-width: 1232px;
    margin: 0 auto;
    margin-top: 50px;
}

.logo{
max-width: 400px;
}

.titulo {
display: flex;
flex-direction: row;
align-items: center;
gap: 100px;
font-family: 'Amiko', sans-serif;
}

.h1titulo
{
  font-size: 45px;
    margin-left: 110px;
    font-family: 'Amiko', sans-serif;
}

.mensal, .semestral, .anual
{
    background-color: #ffb800;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    margin-top: 20px;
}

.mensal2, .semestral2, .anual2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    width: 200px;
    height: 400px;
    border-radius: 40px;
    margin-top: 10px;
}

.b1
{
    height: 30px;
    width: 150px;
    margin-top: 10px;
    border-radius: 20px;
    color: white;
    background-color: #7d7c79;
    font-family: 'Amiko', sans-serif;
}

.acolor
{
  color: white;
}

h1{
    margin-top: 10px;
}

.h1titulo
{
  font-size: 45px;
  margin-left: 45px;
}

.s2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.preco, .semestralpreco, .anualpreco
{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preco1, .preco2, .preco3
{
  font-size: 44px;
}

.mes, .mes2, .mes3
{
  font-size: 22px;
}

h1, p
  {
    font-family: 'Amiko', sans-serif;
  }

  footer
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-family: 'Amiko', sans-serif;
}

@media screen and (max-width: 1220px)
{
.s2, .s1
{
  max-width: 1100px;
}

.h1titulo
{
  margin: 0;
}
.titulo
{
  gap: 70px;
}
}

@media screen and (max-width: 1100px)
{
.s2, .s1
{
  max-width: 1000px;
}

.h1titulo
{
  margin: 0;
}
.titulo
{
  gap: 70px;
}
}

@media screen and (max-width: 1010px)
{
.s2, .s1
{
  max-width: 900px;
}

.titulo{
  display: flex;
  flex-direction: column;
}

.s1{
  gap: 10px;
}

.s2{
  gap: 30px;
}

.h1titulo
{
  margin: 0;
}
.titulo
{
  gap: 70px;
}
}

@media screen and (max-width: 910px)
{
.s2, .s1
{
  max-width: 800px;
}

.titulo{
  display: flex;
  flex-direction: column;
}

.s1{
  gap: 10px;
}

.s2{
  gap: 30px;
}

.h1titulo
{
  margin: 0;
}
.titulo
{
  gap: 70px;
}
}

@media screen and (max-width: 810px)
{
.s2, .s1
{
  max-width: 800px;
}

.titulo{
  display: flex;
  flex-direction: column;
}
.logo
{
  max-width: 300px;
}

.s1{
  gap: 10px;
}

.s2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1titulo
{
  margin: 0;
}
.titulo
{
  gap: 70px;
}
}

@media screen and (max-width: 385px)
{
.s2, .s1
{
  max-width: 800px;
}

.titulo{
  display: flex;
  flex-direction: column;
}

.s1{
  gap: 10px;
}

.s2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1titulo
{
  margin: 0;
}

.logo{
  max-width: 300px;
}

.titulo
{
  gap: 70px;
}

footer 
{
  font-size: 10px;
}

}

@media screen and (max-width: 300px)
{
.s2, .s1
{
  max-width: 800px;
}

.titulo{
  display: flex;
  flex-direction: column;
}

.mensal, .semestral, .anual
{
  max-width: 270px;
}

.s1{
  gap: 10px;
}

.s2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1titulo
{
  margin: 0;
}

.logo{
  max-width: 270px;
}

.titulo
{
  gap: 70px;
}

.icon
{
  display: none;
}

}



